<p id="notice"><%= notice %></p>
<h1><%= @receiver_profile.name %></h1>

<pre>
<%= @receiver_profile.address %>
</pre>

How many packages would you like delivered?
<form action="/deliveries/new" method="get">
<input type="text" name="quantity" value="1">
<input type="submit" value="Purchase" />
</form>

<p />

<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= CGI::escape(@receiver_profile.address)%>,NSW&zoom=14&size=512x312&maptype=roadmap&markers=color:blue%7C<%= @receiver_profile.latitude %>,<%= @receiver_profile.longitude %>&sensor=false" />

<p />
